doctype html
html
  head
    title Usuarios
    link(rel="stylesheet", href="/styles.css")
    link(rel="icon", type="image/x-icon", href="https://raw.githubusercontent.com/FERNANDOCASTRO04/app/main/public/imagenes/logo.png")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js")
    style.
      .overlay-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
      }

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }

      .dialog-box {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        position: fixed;
      
      }

      .message-container {
        margin-top: 20px;
        text-align: center;
        color: red; // Añade este estilo para cambiar el color del mensaje a rojo
      }

  body(style="min-height: 100vh; background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('https://ruminants.ceva.pro/hubfs/mercado-de-ganado-1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;")
    .container-fluid.overflow-hidden
      .row.vh-100.overflow-auto
        .col-12.col-sm-3.col-xl-2.px-sm-2.px-0.bg-dark.d-flex.sticky-top.fixed
          .d-flex.flex-sm-column.flex-row.flex-grow-1.align-items-center.align-items-sm-start.px-3.pt-2.text-white.position-fixed
            a(href='#', class='d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none')
              span.fs-5 A
              span.d-none.d-sm-inline grofer
              img(src='https://raw.githubusercontent.com/FERNANDOCASTRO04/app/main/public/imagenes/logo.png', alt='hugenerd', width='28', height='28', class='rounded-circle')
            ul.nav.nav-pills.flex-sm-column.flex-row.flex-nowrap.flex-shrink-1.flex-sm-grow-0.flex-grow-1.mb-sm-auto.mb-0.justify-content-center.align-items-center.align-items-sm-start#menu
              li.nav-item
                a.nav-link.px-sm-0.px-2(href="/paginadmin")
                  i.fs-5.bi-house
                  span.ms-1.d-none.d-sm-inline Vista Admin

                
                .dropdown.py-sm-4.mt-sm-auto.ms-auto.ms-sm-0.flex-shrink-1
                  a(href='#', class='d-flex align-items-center text-white text-decoration-none dropdown-toggle', id='dropdownUser1', data-bs-toggle='dropdown', aria-expanded='false')
                    img(src='https://cdn-icons-png.flaticon.com/512/219/219983.png', alt='hugenerd', width='28', height='28', class='rounded-circle')
                    span.d-none.d-sm-inline.mx-1()= nombreUsuario
                  ul.dropdown-menu.dropdown-menu-dark.text-small.shadow(aria-labelledby='dropdownUser1')
                    li
                      a.dropdown-item(href='#') Cambiar Contraseña
                    li
                      hr.dropdown-divider
                    li
                      a.dropdown-item(href='/logout') Cerrar sesion 
        .col.d-flex.flex-column.h-sm-100
          div.container.mt-3
            main.row.overflow
              .col

                div.overlay-container
                  div.overlay
                  div.dialog-box
                .message-container
                  // Renderiza el mensaje aquí
                  p= message
                input(type="text" id="searchInput" placeholder="Buscar...")


                table#animalesTable.table.table-responsive.table-sm.table-striped.table-bordered.table-hover.text-center.container-flex.mt-5
                  thead
                    tr
                      th(scope="col") #
                      th(scope="col") Id 
                      th(scope="col") Nombre De Usuario
                      th(scope="col") Correo
                      th(scope="col") Rol
                      th(scope="col") Estado De La Cuenta
                      th(scope="col") 
                   
                  tbody.table-group-divider.alin
                  - let contador = 1
                  each usuario in usuarios
                    tr
                      th(scope="row")= contador++
                      td= usuario.id
                      td= usuario.nom_usuario 
                      td= usuario.correo 
                      td= usuario.rol
                      td= usuario.estado
                      td  
                        button.btn.btn-warning(type="button", class="btnCebaCompra", onclick=`showDialog('editar', '${usuario.id}', '${usuario.nom_usuario}', '${usuario.correo}', '${usuario.rol}', '${usuario.estado}')`) 
                          span.material-icons edit
                          
                        button.btn.btn-danger(type="button", class="btnCebaCompra", onclick=`showDialog('eliminar', '${usuario.id}', '${usuario.nom_usuario}', '${usuario.correo}', '${usuario.rol}')`) 
                          span.material-icons delete
                
                .message-container
                  // Renderiza el mensaje aquí
                  p= message

           
              
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
              

            script.
                function showDialog(tipo, id, nom_usuario, correo, rol, estado) {
                  const overlayContainer = document.querySelector('.overlay-container');
                  const dialogBox = document.querySelector('.dialog-box');

                  dialogBox.innerHTML = '';

                  const table = document.querySelector('table');
                  const tableRect = table.getBoundingClientRect();
                  const tableWidth = tableRect.width;
                  const tableTop = tableRect.top;
                  const tableLeft = tableRect.left;

                  let formHTML = '';

                  if (tipo === 'editar') {
                      formHTML = `
                          
                      <form class="row g-3" action="/editarRol" method="POST">
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="id">Id del Usuario</label></b>
                            <input type="number" class="form-control" name="id" value="${id}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="nom_usuario">Nombre Del Usuario</label></b>
                            <input type="text" class="form-control" name="nom_usuario" value="${nom_usuario}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="correo">Correo</label></b>
                            <input type="text" class="form-control" name="correo" value="${correo}" >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b>
                            <label class="form-label" for="rol">Asignar Rol</label>
                            <select class="form-control" name="rol" required>
                              <option value='${rol}' >${rol}</option>
                              <option value="admin">admin</option>
                              <option value="user">user</option>
                            </select>
                          </div></b>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b>
                            <label class="form-label" for="estado">Cambiar Estado De La Cuenta</label>
                            <select class="form-control" name="estado" required>
                              <option value="" >El estado actual es: ${estado}</option>
                              <option value="activa">activa</option>
                              <option value="bloqueada">bloqueada</option>
                            </select>
                          </div></b>
                        </div>
                        <div class="row text-center">
                        <div class="col-6, mt-2">
                          <button class="btn btn-primary" type="submit">GUARDAR</button>
                        </div>
                      </form>
                      `;
                  } else if (tipo === 'eliminar') {
                      formHTML = `
                        <form class="row g-3" action="/agregarterneroseva" method="POST">
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="id">Id del Usuario</label></b>
                            <input type="number" class="form-control" name="id" value="${id}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="nom_usuario">Nombre Del Usuario</label></b>
                            <input type="text" class="form-control" name="nom_usuario" value="${nom_usuario}" readonly>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="correo">Correo</label></b>
                            <input type="text" class="form-control" name="correo" value="${correo}" readonly >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <b><label class="form-label" for="rol">Rol</label></b>
                            <input type="text" class="form-control" name="rol" value="${rol}"readonly >
                          </div>
                        </div>
                        <div class="row text-center">
                        <div class="col-6, mt-2">
                          <button class="btn btn-primary" type="submit">ELIMINAR</button>
                        </div>
                      </form>
                      `;
                  }

                  dialogBox.innerHTML = formHTML;

                  dialogBox.style.width = tableWidth + 'px';
                  dialogBox.style.maxWidth = '90%';
                  dialogBox.style.top = tableTop + 'px';
                  dialogBox.style.left = tableLeft + window.scrollX + 'px';

                  overlayContainer.style.display = 'flex';
              }

            script.
              document.addEventListener('DOMContentLoaded', function () {
                // ... Tu código anterior ...
                const itemsPerPage = 4;
                let currentPage = 1;

                function updateTable() {
                  const tableRows = document.querySelectorAll('#animalesTable tbody tr');

                  tableRows.forEach((row, index) => {
                    if (index >= (currentPage - 1) * itemsPerPage && index < currentPage * itemsPerPage) {
                      row.style.display = '';
                    } else {
                      row.style.display = 'none';
                    }
                  });
                }

                function goToPage(page) {
                  currentPage = page;
                  updateTable();
                }

                document.getElementById('prevPage').addEventListener('click', function () {
                  if (currentPage > 1) {
                    goToPage(currentPage - 1);
                  }
                });

                document.getElementById('nextPage').addEventListener('click', function () {
                  const tableRows = document.querySelectorAll('#animalesTable tbody tr');
                  if (currentPage < Math.ceil(tableRows.length / itemsPerPage)) {
                    goToPage(currentPage + 1);
                  }
                });

                // Agregar esta llamada para mostrar las primeras 4 filas al cargar la página
                updateTable();
              });              
            script.
              function getParameterByName(name, url) {
                  if (!url) url = window.location.href;
                  name = name.replace(/[\[\]]/g, '\\$&');
                  const regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                  results = regex.exec(url);
                  if (!results) return null;
                  if (!results[2]) return '';
                  return decodeURIComponent(results[2].replace(/\+/g, ' '));
              }

              const message = getParameterByName('message');

              // Mostrar el mensaje si está presente
              if (message) {
                  const messageContainer = document.querySelector('.message-container');
                  const messageElement = document.createElement('p');
                  messageElement.textContent = message;
                  messageContainer.appendChild(messageElement);

                  // Ocultar el mensaje después de 3000 milisegundos (3 segundos)
                  setTimeout(() => {
                      messageContainer.removeChild(messageElement);
                  }, 3000);
              }
            script.
              document.addEventListener('DOMContentLoaded', function () {
                // ... Tu código anterior ...

                const itemsPerPage = 4;
                let currentPage = 1;

                function updateTable() {
                  const tableRows = document.querySelectorAll('#animalesTable tbody tr');

                  tableRows.forEach((row, index) => {
                    if (index >= (currentPage - 1) * itemsPerPage && index < currentPage * itemsPerPage) {
                      row.style.display = '';
                    } else {
                      row.style.display = 'none';
                    }
                  });
                }

                function goToPage(page) {
                  currentPage = page;
                  updateTable();
                }

                document.getElementById('prevPage').addEventListener('click', function () {
                  if (currentPage > 1) {
                    goToPage(currentPage - 1);
                  }
                });

                document.getElementById('nextPage').addEventListener('click', function () {
                  const tableRows = document.querySelectorAll('#animalesTable tbody tr');
                  if (currentPage < Math.ceil(tableRows.length / itemsPerPage)) {
                    goToPage(currentPage + 1);
                  }
                });
              });
            script. 
              document.addEventListener('DOMContentLoaded', function () {
                  const searchInput = document.getElementById('searchInput');
                  const tableRows = document.querySelectorAll('#animalesTable tbody tr');

                  searchInput.addEventListener('input', function () {
                      const searchText = searchInput.value.trim().toLowerCase();

                      tableRows.forEach(row => {
                          const rowData = row.textContent.trim().toLowerCase();
                          if (rowData.includes(searchText)) {
                              row.style.display = '';
                          } else {
                              row.style.display = 'none';
                          }
                      });
                  });
              });
         
